<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <!--<system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAutomaticUpdateServer" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferSize="2147483647"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:60124/AutomaticUpdateImplement.svc/IAutomaticUpdateServer"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutomaticUpdateServer"
                contract="ServiceReference1.IAutomaticUpdateServer" name="BasicHttpBinding_IAutomaticUpdateServer" />
        </client>
    </system.serviceModel>-->
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IAutomaticUpdateServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://mahui.wfdata.cn:60124/AutomaticUpdateImplement.svc/IAutomaticUpdateServer"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAutomaticUpdateServer"
                contract="ServiceReference1.IAutomaticUpdateServer" name="BasicHttpBinding_IAutomaticUpdateServer" />
        </client>
    </system.serviceModel>
</configuration>